.game-play{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100vh;
    background-image: url(../assets/game-play-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #23144B;
    padding: 50px 20px;
    .grid-wrapper{
        animation: grid-animations .5s ease 0s 1 normal forwards;
        h3{
            text-align: center;
            display: none;
            margin-top: 10px;
        }
    }
    // GRID STYLES 
    .grid{
      padding: 30px 10px;
      background-color: white;
      border-radius: 17.5186px;
      height: 100%;
      max-width: 706px;
      margin: 0 auto;
      position: relative;
    //   animation: grid-animations .5s ease 0s 1 normal forwards;

      // GRID-HEADER STYLES 
      &-header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .game-grid-info{
          width: 50%;
          font-size: 14px;
          line-height: 18px;
          order: 1;
        }
        .game-health{
          position: relative;
          width: 100%;  
          margin: 10px 0;
          order: 3;
          display: flex;
          justify-content: center;

          .health-wrapper{
            display: flex;
            align-items: center;
          } 
          .heart{
            text-align: center;
            transform: scale(.7);
            margin-left: 24px;
            z-index: 1;
          }
          .progressBar {
            position: relative;
            left: -24px;
            width: 100px;
            height: 18.04px;
            background: linear-gradient(180deg, #853594 47.39%, #692789 47.4%);
            border: 2.15507px solid #532461;
            border-radius: 12.661px;
          }
          .barStatus {
            position: absolute;
            top: -1px;
            width: 0%;
            height: 15.77px;
            background: linear-gradient(180deg, #F07CC3 44.27%, #C5418E 44.28%);
            border: 1.87639px solid #FFFFFD;
            border-radius: 11.0238px;
            transition: width 0.9s ease;   
          }
        }
      .game-time{
        width: 50%;
        order: 2;
        text-align: right;

        .time-text{
          display: none;
        }
      }

      }

      // GRID BOXEX STYLES 
      &-boxes{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        height: 70%;
        border: 4px solid #853594;
        grid-gap: 1px;
        box-sizing: border-box;
        .box{
          box-shadow:0 0 0 1px #853594;
          display: flex;
          align-items: center;
          justify-content: center;

         .foodscore{
            position: absolute;
            top: 74px;
            animation-name: food-score-animate;
            animation-duration: .3s;
            animation-timing-function: ease-out;
          }
          .food{
            width: 80%;
            transform: scale(0);
            animation: grid-animations .5s ease .6s 1 normal forwards; 
          }
          .character{
            width: 80%;
          }
        }
      }

      // GRID BOTTOM STYES
      &-bottom{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
      }

    }
  }

  // GRID ANIMATION
  @keyframes grid-animations {
  0%{ transform: scale(0); opacity: 0;}
  10%{ transform: scale(.1); opacity: .1;}
  20%{ transform: scale(.2);  opacity: .2;}
  30%{ transform: scale(.3); opacity: .3;}
  40%{ transform: scale(.4); opacity: .4;}
  50%{ transform: scale(.5); opacity: .5;}
  60%{ transform: scale(.6); opacity: .6;}
  70%{ transform: scale(.7); opacity: .7;}
  80%{ transform: scale(.8); opacity: .8;}
  90%{ transform: scale(.9); opacity: .9;}
  100%{ transform: scale(1); opacity: 1;}
  }

  // FOOD ANIMATIONS
  @keyframes food-score-animate {
    from{right: 12%; opacity: 0;}
    50%{right: 15%; opacity: 1;}
    to{right: 18%; opacity: 0;}
  }
  @media (min-width: 380px) {
    .game-play{
      .grid{
        &-boxes{
          .box{
            .food{
              width: 60%;
            }
            .character{
              width: 60%; 
            }
          }
        }
      }
    }
    @keyframes food-score-animate {
      from{right: 18%;}
      50%{right: 21%;}
      to{right: 24%;}
    }
  }
  @media (min-width: 480px) { 
    .game-play{
      .grid{
        &-boxes{
          .box{
            .food{
              width: 40%;
            }
            .character{
              width: 40%;
            }
          }
        }
      }
    }
    @keyframes food-score-animate {
      from{right: 24%;}
      50%{right: 27%;}
      to{right: 30%;}
    }
  }
  @media (min-width: 680px) { 
    .game-play{
      .grid{
        &-boxes{
          .box{
            .foodscore{
              right: 30%;
            } 
            .food{
              width: 30%;
            }
            .character{
              width: 30%;
            }
          }
        }
      }
    }
    @keyframes food-score-animate {
      from{right: 30%;}
      50%{right: 33%;}
      to{right: 36%;}
    }
  }
  @media (min-width: 768px) { 
    .game-play{
      font-size: 18px;

      .grid{
        height: 100%;
        padding: 30px;
        &-header{
          
          .game-grid-info{
            font-size: 18px;
            order: 1;
            width: 20%;
          }
          .game-health{
            width: 40%;
            order: 2;
            margin-top: 0px;
            top: -15px;
            
            .heart{
              transform: scale(1);
            }
          }
          .game-time{
            width: 30%;
            order: 3;
            .time-text{
              display: inline-block;
            }
          }
        }
        &-boxes{
          .box{
            .foodscore{
              color: #853594;
              top: 28px;
            }
          }
        }
      }
    }
    @keyframes food-score-animate {
      from{right: 35%;}
      50%{right: 38%;}
      to{right: 41%;}
    }
  }
  @media (min-width: 992px) { 
     .game-play{
       padding: 80px 20px;
       .grid-wrapper h3{
         display: block;
       }
       .grid{
        
         height: 100%;
       }
     }
  }
  @media (min-width: 1200px) { 
      .game-play{
        .grid{
          height: 90%;
        }
      }
  }